--mfcc-config=online/conf/mfcc.conf
--max-active=400
--min-active=200
--beam=4.0 
--lda-matrix=online/final.mat
--lattice-beam=4.0 
--acoustic-scale=0.10 
--word-symbol-table=online/words.txt
--phone-symbol-table=online/phones.txt
--model=online\final.oalimdl 
--hclg=online\HCLG.fst
#--phone-hclg=online\HCLG_phone.fst
--chunk-length=0.1
--online-alignment-model=online/final.oalimdl
--global-cmvn-stats=online\global_cmvn.stats
--endpoint.silence-phones=1
--cmvn-config=online\conf\online_cmvn.conf
--splice-feats
--splice-config=online\conf\splice.conf
--silence-phones=1
--silence-weight=0.1
#--verbose=3