--online=true 
--do-endpointing=false 
--feature-type=mfcc
--mfcc-config=online\conf\mfcc.conf
--ivector-extraction-config=online\conf\ivector_extractor.conf
--endpoint.silence-phones=1
--max-active=1000 
--beam=15.0 
--lattice-beam=6.0 
--word-symbol-table=online\words.txt 
--phone-symbol-table=online\phones.txt
--nnet2=online\final.nnet2 
--hclg=online\HCLG.fst 
--chunk-length=0.18
#for chain model
--extra-left-context-initial=0
--frame-subsampling-factor=3
--acoustic-scale=1.0
--frames-per-chunk=30
#--verbose=3
#for thread info
--input-queue-size=5
--output-queue-size=5
--max-decode-frame=300
--thread-config=thread-config.txt
